div.header{
	background-color: white;
	padding: 10px;
}
div.header h1{
	margin: 0;
}
div.container{
	width: 600px;
	margin: auto;
}
div.big-post .post-header div:first-child{
	display: inline-block;
	width: 80%;
}
div.big-post .post-header div:last-child{
	width: 19%;
	display: inline-block;
	text-align: right;
	padding: 10px;
	color: gray;
}
div.body {
	margin: 0;
	background-color:lightgray;
}
div.big-post{
	background-color: white;
	margin-top: 10px;
}
div.big-post img{
	width: 100%;
}
div.big-post h2{
	padding: 10px;
	margin: 0;
	background-color:white;
}
div.big-post p {
	padding: 10px;
	margin: 0;
}
div{
	box-sizing:  border-box;
}
div.big-post p {
	background-color: white;
}